# generic
.DS_Store
.idea
.vscode

# node
node_modules
package-lock.json

# composer
vendor
composer.lock

# phpunit
phpunit.xml
.phpunit.result.cache

# phpstan
phpstan.neon

# php-cs-fixer
.php-cs-fixer.cache
