rules:
    - Tomchochola\PHPStanRules\FunctionRequired
    - Tomchochola\PHPStanRules\PropertyRequired

parameters:
  level: max
  checkMissingCallableSignature: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  reportAlwaysTrueInLastCondition: true
  checkBenevolentUnionTypes: true
