parameters:
  level: max
  checkMissingCallableSignature: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  reportAlwaysTrueInLastCondition: true
  checkBenevolentUnionTypes: true
